<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>probe 任务列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../public/img/favicon.ico">
	<link rel="stylesheet" href="../public/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/css/comm.css">
</head>
<body>
	<div id="page-wrap">
		<div class="v-framework">
			<div class="navbar navbar-default navbar-fixed-top vFramework-topbar">
				<div class="container-fluid">
					<div class="navbar-header"><a class="navbar-brand" href="#">Probe</a><p class="navbar-text">V0.0.1</p></div>

					<div class="nav navbar-nav navbar-right">		    			
						<div class="loginafter">
							<img class="img-circle" src="http://img.zcool.cn/community/0493e3553fb94a0000014027d94d42.jpg">
							<div class="btn-group user-dropdown">
								<a data-toggle="dropdown" aria-expanded="false">个人中心<!-- <span class="caret"></span> --></a>
<!-- 		    				<ul class="dropdown-menu">
		    					<li><a href="#">下拉选项</a></li>
		    					<li><a href="#">版本信息</a></li>
		    					<li role="separator"></li>
		    					<li></li>
		    				</ul> -->
		    			</div>
		    			&nbsp;
		    			<a href="javascript:loginManage.logout();">退出</a>
		    		</div>
		    	</div>
		    </div>
		</div>

		<div class="vFramework-body vFramework-full"> <!-- vFramework-mini-->

			<div class="vFramework-sidebar">			
				<div class="sidebar-fold">
					<button type="button" class="sidebar-toggle">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="sidebar-menu">
					<ul class="list-group">
						<li class="list-group-item"><a href="../index/index.html"><div class="icon-wp"><i class="icon-side icon-chart1"></i></div><span class="side-text">探针列表</span></a></li>
						<li class="list-group-item active"><a href="tasklist.html"><div class="icon-wp"><i class="icon-side icon-chart2"></i></div><span class="side-text">任务列表</span></a></li>
						<li class="list-group-item"><a href="javascript:void(0);"><div class="icon-wp"><i class="icon-side icon-chart3"></i></div><span class="side-text">探针报表分析</span></a></li>
					</ul>				
				</div>

				<div class="sub-sidebar-menu" data-closed="true">
					<ul>
						<li>物理网络探测</li>
						<li><a href="#">PING延时</a></li>
						<li><a href="#">PING丢包</a></li>
						<li><a href="#">DNS解析</a></li>
						<li>业务网络探测</li>						
						<li><a href="#">直播BUFF缓冲</a></li>
						<li><a href="#">直播卡顿</a></li>
						<li><a href="#">直播流速度</a></li>
						<li><a href="#">资源下载速度</a></li>
						<li>SDK</li>
						<li><a href="#/newUsers">整体趋势</a></li>
						<li><a href="#/region">地域</a></li>
						<li><a href="#/network">网络及运营商</a></li>
						<li><a href="#/useFrequency">使用频率</a></li>
						<li><a href="#/newUseByHour">实时统计</a></li>
						<li><a href="#/mobile">设备终端</a></li>
					</ul>
				</div>
			</div>

			<div class="vFramework-container">
				<div class="container-fluid">
					<div class="container-fluid" id="dataArea">
						<div id="tasklist">
							<ul class="nav nav-tabs" id="J_task_tab">
								<li class="nowTask" :class="isActive('cur')" @click="onCurrentTaskClick()"><a href="javascript:;">当前任务</a></li>
								<li class="historyTask" :class="isActive('his')" @click="onHistoryTaskClick()"><a href="javascript:;">已完成任务</a></li>
							</ul><br>

							<div class="input-group search-area">
								<input type="text" class="form-control" placeholder="搜索任务..." id="searchQuery" v-model="taskName">						        
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" id="J_searchBtn" data-searchkey="" @click="onSerchClick()">查找</button>
								</span>
							</div><!-- /input-group -->

							<div class="newtaskbtngroup btn-group" role="group">
								<button type="button" class="btn btn-primary" id="J_newCreatTask" @click="onCreateTaskClick()">新建任务</button>
								<button type="button" class="btn btn-primary">主机标识配置</button>
							</div>	
							
							
							<div class="clearfix"><br></div>
							<table class="table table-striped table-hover table-condensed table-bordered" id="tableDada">
								<thead>
									<tr>
										<th>编号</th>
										<th>任务名</th>
										<th>任务类型</th>
										<th>最近运行时间</th>
										<th>运行类型</th>
										<th>运行状态</th>
										<th>上报地址</th>
										<th>操作</th>
									</tr>
								</thead>			
								<tbody id="datas">
								<tr v-for="(task,index) in taskList">
										<td>{{index + 1}}</td>
										<td>{{task.name}}</td>
										<td>{{task.type}}</td>
										<td>{{task.time}}</td>
										<td>{{task.operationType}}</td>
										<td>{{task.status?"运行中":"已结束"}}</td>
										<td>{{task.udphost}}</td>
										<td>
											<div class="">
												<button class="btn btn-default btn-sm">删除</button>
												<button class="btn btn-default btn-sm">修改</button>
												<button class="btn btn-default btn-sm">暂停</button>
											</div>	
										</td>
									</tr>
								</tbody>
							</table>
							<div class="clearfix"><br></div>
							<div id="page">
								<page loadfunc="load" loadcb="loadCallback"></page>
							</div>
							<taskpanel></taskpanel>
						</div>					

					</div><!-- /dataArea End -->
				</div>
			</div><!-- /vFramework-container End -->
		</div>
	</div>
</div>
	<script src="../public/libs/jquery/dist/jquery.min.js"></script>
	<script src="../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../public/libs/vue/dist/vue.js"></script>
	<script src="../public/libs/vue/dist/vue-resource.js"></script>
	<script src="../public/libs/vue/dist/vuex.js"></script>	
	<script src="../public/libs/datepicker.js"></script>	
	<script src="../public/js/jquery.cookie.js"></script>
	<script src="../public/js/loginmanager.js"></script>
	<!-- common end  -->
	<script src="./page.component.js"></script>
	<script src="./task.component.js"></script>
	<script src="./store.js"></script>
	<script src="./tasklist.js"></script>
	<script src="./main.js"></script>
</body>
</html>


